@import '../constants/colors'

$size: 30px

.switch
  border-radius: 16px
  display: inline-block
  height: $size
  line-height: 32px
  position: relative
  width: 60px

  &>div
    background: $color-3
    border-radius: 50%
    box-shadow: 0 1px 3px $color-18
    display: inline-block
    height: $size
    position: absolute
    top: 0
    transition: background .4s, left .2s
    width: $size

.switch-on
  background: $color-24

  &>div
    background: $color-3
    left: $size

.switch-off
  background: $color-13

  &>div
    background: $color-3
    left: 0

.switch-disabled
  background: $color-13
  cursor: not-allowed

  &>div
    background: $color-3
    left: 0
